@font-face {
    font-family: 'Nexa Bold';
    font-style: bold;
    font-display: swap;
    src: local('Nexa Bold');
}

<<<<<<< HEAD
=======
@font-face {
    font-family: 'Nexa Light';
    font-style: light;
    font-display: swap;
    src: local('Nexa Light');
}
>>>>>>> 5c25fc5 (simplify styles)

.markdown-preview.markdown-preview {
    &.prince {
        @page {
            size: A4;
            margin: 1.27cm;
        }


    }
    /* Convert emojis to monochrome style */
    
    font-family: 'Lato', sans-serif;
    font-weight: 400;

<<<<<<< HEAD
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Cal Sans', sans-serif;
        // filter: sepia(1) hue-rotate(180deg);
    }
    

    
    table td, table th {
        border: none;
        // filter: sepia(1) hue-rotate(180deg);
    }

    li {
        list-style-type: none;
        &::before {
            content: ">";
            display: inline-block;
            font-weight: bold;
            margin-right: 0.5rem;
            color: #0077be;
        }
    }

    table th {
        border-bottom: 3px solid #0077be;
    }
    table tr:nth-child(even) {
        background-color: #f5f5f5;
    }

}
