@font-face {
    font-family: 'Nexa Bold';
    font-style: bold;
    font-display: swap;
    src: local('Nexa Bold');
}

@font-face {
    font-family: 'Nexa Light';
    font-style: light;
    font-display: swap;
    src: local('Nexa Light');
}



.markdown-preview.markdown-preview {
    .columns {
        column-count: 2;    
    }

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10pt;

    h1 { font-size: 24pt; }
    h2 { font-size: 20pt; }
    h3 { font-size: 16pt; }
    h4 { font-size: 16pt; }
    h5 { font-size: 12pt; }
    h6 { font-size: 12pt; }

    h1, h2 { margin-bottom: 6pt; margin-top:6pt; }
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        margin-top: 0;
    }
    h3, h4, h5, h6 { margin-bottom: 4pt; }

    h3 , h4 , h5 , h6 {
        font-family: 'Nexa', 'Lato', sans-serif;
        font-weight: 400;
    }

    h1, h2, th{
        font-family: 'Nexa', 'Cal Sans', sans-serif;
    }

    li {
        list-style-type: none;
        &::before {
            content: ">";
            font-family: 'Nexa', 'Lato', sans-serif;
            display: inline-block;
            font-weight: bold;
            margin-right: 0.25rem;
            color: #0077be;
        }
    }





    
    table th, table td {
        border: none;
    }
    table th {
        border-bottom: 3px solid #0077be;        
        font-weight: normal;
    }

    table tr:nth-child(even) {
        background-color: #f5f5f5;
    }
    table td, table th {
        text-align: left;
    }
    
    table {
        display: table;
        margin: 0;
        margin-bottom: 6pt;
    }

    a {
        color: #0077be;
        text-decoration: none;
    }

    .tags table th {
        background-color: #0077be;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        font-size: 0.9em;
        font-weight: 500;
        margin: 0.0625rem;
    }

    blockquote {
        background-color: #f0f0f0;
        color: #0077be;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
        font-size: 0.9em;
    }

    .header, .header * {
        position: absolute;
        z-index: -1;
        color: #fff0 !important;
        user-select: none;
    }

    

    &.prince {
        @page {
            size: A4;
            margin: 1.27cm;
        }

        :root {
            --font-size: 10pt;
        }

        // Basic text styling
        body {
            font-family: 'Nexa', sans-serif;
            color: #333;
        }

        h1 { font-size: 16pt; }
        h2 { font-size: 12pt; }
        h1:first-child,
        h2:first-child,
        h3:first-child,
        h4:first-child,
        h5:first-child,
        h6:first-child {
            margin-top: 0;
        }
        h3, h4, h5, h6 { font-size: 10pt; }

        p, ul, ol, dl, table, figure, li {
            font-size: 10pt;
        }
    }

}
